.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.mySwiper {
  width: 100%;
  padding-bottom: 30px;
}

.swiper {
  height: auto !important;
}

.cardproduto {
  background-color: #0e3b2d;
  border-radius: 1rem;
  padding: 16px;
  text-align: center;
  width: 250px;
  /* Adicionei o flexbox para centralizar o conteúdo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}
.cardproduto:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--btn-green);
}
.cardproduto img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  height: 100%;
}
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-left: 4px solid #00ff88;
  border-right: 4px solid #00ff88;
  border-radius: 4px;
  background: transparent;
}

.acessorios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 768px) {
  .mySwiper {
    width: 90%;
  }

  .container {
    gap: 15px;
    justify-content: center;
  }
}
