/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --bg-dark: #fff;
  --bg-green: #0e3b2d;
  --btn-greenligth: #00c853;
  --text-ligth: #f5f5f5;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-ligth);
}

h2 {
  background: #000;
  padding: 0.6rem;
  border-radius: 0.4rem;
  display: inline-block;
}

button {
  background: var(--btn-greenligth);
  color: var(--text-ligth);
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 0.6rem;
}

button:hover {
  opacity: 0.9;
  background-color: #00ff88;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-left: 4px solid #00ff88; /* linha esquerda */
  border-right: 4px solid #00ff88; /* linha direita */
  border-radius: 4px; /* opcional */
  background: var(--text-ligth); /* remove o fundo */
}

.cardpromo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.acessorios-section {
  max-width: 1200px;
  margin: 0 auto; /* Centraliza o contêiner na página */
  padding: 20px;
  text-align: center; /* Centraliza o título */
}
@media (max-width: 768px) {

}